<turbo-frame id=<%= dom_id(@player) %>>
  <div class="w-96 border rounded p-2 <%= current_player_border %>">
    <p class="font-bold"> <%= player_name %> </p>

    <% if current_player? %>
      <div class="player-cards flex flex-wrap justify-between gap-2">
        <%= render(Game::PlayerCardComponent.with_collection(@player.player_cards.on_hand, player: @player, selectable: selectable?)) %>
      </div>

      <br>
    <% end %>

    <p class="italic">Cards on Table</p>
    <div class="player-cards flex flex-wrap justify-between gap-2">
      <%= render(Game::PlayerCardComponent.with_collection(@player.player_cards.on_table, player: @player)) %>
    </div>
  </div>
</turbo-frame>
