<% if @selectable %>
  <%= form_with model: @player.game, method: :post, url: player_turn_game_path(@player.game) do |f| %>
    <%= f.hidden_field :player_id, value: @player.id %>
    <%= f.hidden_field :player_card_id, value: @player_card.id %>

    <button type="submit">
      <div class="border p-1 hover:cursor-point hover:bg-violet-400">
        <p>Suit: <%= @player_card.suit %></p>
        <p>Value: <%= @player_card.value %></p>
      </div>
    </button>
  <% end %>
<% elsif @multi_selectable %>
  <input type="checkbox" value="<%= @player_card.id %>" name="game[player_cards][]" id="pc-<%= @player_card.id %>">
  <label for="pc-<%= @player_card.id %>" class="board-card p-1 card border hover:bg-violet-400 hover:cursor-pointer">
    <p>Suit: <%= @player_card.card.suit %></p>
    <p>Value: <%= @player_card.card.value %></p>
  </label>
<% else %>
  <div class="border p-1">
    <p>Suit: <%= @player_card.suit %></p>
    <p>Value: <%= @player_card.value %></p>
  </div>
<% end %>


