<%= turbo_frame_tag game do %>
  <% if flash[:notice].present? %>
    <div class="flex justify-center mt-5">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="players flex justify-evenly flex-wrap mt-5">
    <% game.players.order(turn_order: :asc).each do |player| %>
      <%= render partial: 'games/player', locals: { player:, current_player: } %>

      <hr>
    <% end %>
  </div>

  <% if game.joker_play %>
    <%= form_with model: game, url: player_turn_game_path(game), method: :post do |f| %>
      <%= f.hidden_field :player_id, value: current_player.id %>

      <div class="board flex justify-center items-center mt-5">
        <div class="boardCards flex mt-5 flex-wrap gap-2">
          <% game.board.player_cards.ordered.each_with_index do |player_card, index| %>
            <% unless index.zero? %>
              <input type="checkbox" name="player_card_ids[]" id="pc-<%= player_card.id %>" value="<%= player_card.id %>" >
            <% end %>
            <label for="pc-<%= player_card.id %>" class="board-card p-1 card border hover:bg-purple-500 hover:cursor-pointer">
              <p>Suit: <%= player_card.card.suit %></p>
              <p>Value: <%= player_card.card.value %></p>
            </label>
          <% end %>
        </div>
      </div>

      <div class="flex justify-center">
        <%= f.submit 'Finish joker play', class: "p-1 rounded bg-green-500 hover:cursor-pointer mt-5" %>
      </div>
    <% end %>
  <% else %>
    <%= render 'games/board', board: game.board %>
  <% end %>
<% end %>
