<%= turbo_frame_tag player do %>
  <div class="player border rounded p-2" data-player-id="<%= player.id %>">
    <h3 class="font-bold"><%= player.name %></h3>

    <div class="playerCards grid grid-cols-2 mt-2">
      <% player.player_cards.on_hand.each do |player_card| %>
        <%= form_with model: @game, method: :post, url: player_turn_game_path(@game) do |f| %>
          <%= f.hidden_field :player_id, value: player.id %>
          <%= f.hidden_field :player_card_id, value: player_card.id %>

          <button type="submit">
            <div class="player-card p-1 card border hover:bg-purple-500 hover:cursor-pointer">
              <p>Suit: <%= player_card.card.suit %></p>
              <p>Value: <%= player_card.card.value %></p>
            </div>
          </button>
        <% end %>
      <% end %>

      <hr>
      <p>On table</p>
      <% player.player_cards.on_table.each do |player_card| %>
        <div data-player-card-id="<%= player_card.id %>" class="player-card p-1 card border hover:bg-green-500">
          <p>Suit: <%= player_card.card.suit %></p>
          <p>Value: <%= player_card.card.value %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
