<%= turbo_frame_tag game do %>
  <div class="flex justify-center mt-12">
    <div class="flex flex-col">
      <h2>Waiting for the players...</h2>
      <div class="flex justify-center">
        <div class="flex flex-col">
          <%= render partial: 'games/players_list', locals: { game: game } %>
        </div>
      </div>

      <% if @current_player.leader? %>
        <%= form_with url: start_game_path(game), method: :patch do |f| %>
          <div class="flex justify-center mt-2">
            <%= f.submit "Start game", class: "rounded p-2 bg-lime-500" %>
          </div>

          <%= render partial: 'games/errors', locals: { object: game } %>
        <% end %>
      <% else %>
        <% if @current_player.ready? %>
          <div class="flex justify-center mt-2">
            <p>Waiting for the leader to start the game...</p>
          </div>
        <% else %>
          <%= form_with model: @current_player, url: ready_game_player_path(@current_player.game_id, @current_player), method: :patch do |f| %>
            <div class="flex justify-center mt-2">
              <%= f.submit "Ready", class: "rounded p-2 bg-lime-500" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
